#calculator{
  border: 2px solid rgb(217, 213, 213);
  width: 200px;
  border-radius: 5px;
  margin: 270px;
}
#display{
  margin: 10px;
  width: 85%;
  font-size: 25px; 
}
.button{
  height: 44px;
  width: 44px;
  margin: 4px;
}
/* button:hover{
  background-color:white;
} */
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}